{% extends 'CoreBundle::layout.html.twig' %}

{% block title %}Supprimer{% endblock %}

{% block oc_platform_body %}
    <p>Etes-vous sur ?</p>
    <a href="{{ path('oc_platform_home') }}">Je suis sur !</a>
{% endblock %}